auto lo
iface lo inet loopback

auto ens3
iface ens3 inet static
    address {{ host_info[inventory_hostname].pxe_ip }}
    netmask 255.255.255.0
    gateway {{ default_gateway }}
    dns-nameserver {{ dns_nameservers }}

auto ens4
iface ens4 inet static
    address {{ host_info[inventory_hostname].mgmt_ip }}
    netmask 255.255.255.0

auto ens5
iface ens5 inet static
    address {{ host_info[inventory_hostname].ext_ip }}
    netmask 255.255.255.0
